html,
body {
	background-color: #fff;
	overscroll-behavior: none;
}

// @media screen and (max-width: 12in) {
// 	body {
// 		padding-top: 1in;
// 	}
// }

#screen {
	display: block;

	width: 90vw;
	max-height: 90vw;
	height: 90vh;
	max-width: 90vh;
	margin: 4vh auto;

	padding: 1px;
	border: 1px solid black;
}
